* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
}

.font-1 {
  font: 700 1.187rem/1.2 "Outfit", sans-serif;
}

.font-2 {
  font: 400 0.93rem/1.4 "Outfit", sans-serif;
}

.container {
  display: flex;
  gap: 8px;
  max-width: 360px;
  margin: auto;
  margin-top: 30px;
}

.lang {
  display: block;
  margin: auto;
  margin-top: 8px;
}

.lang img {
  display: block;
  width: 40px;
  margin-bottom: 4px;
}

/* Quando o mouse passar por cima do ícone do menu */
.lang img:hover {
  filter: brightness(
    1.8
  ); /* Aumenta o brilho em 50%. Experimente valores como 1.2, 1.8 para ver o efeito. */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.lang img:active {
  filter: brightness(1.8);
}

.hamburguer {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  z-index: 3;
}

.lang-btn {
  display: block;
  padding-block: 4px;
  padding-inline: 4px;
  font-size: 10px;
  color: #68778d;
  touch-action: manipulation;
  cursor: pointer;
}

.lang-btn:hover {
  background-color: #3886fc;
  border-radius: 5px;
  color: #fff;
}

.lang-btn:active {
  background-color: #3886fc;
  border-radius: 5px;
  color: #fff;
}

@media (max-width: 600px) {
  .lang-btn {
    font-size: 14px;
    padding: 8px 8px;
  }
}

.card {
  margin: auto;
  margin-block: 8px 200px;
  background-color: #fff;
  width: 320px;
  height: auto;
  padding-inline: 16px;
  padding-block: 16px 0px;
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

.qrcode {
  background-color: #2c7dfa;
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
}

.qrcode img {
  display: block;
  padding: 64px;
  position: relative;
  z-index: 1;
}

.qrcode::before {
  content: "";
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  background: #3886fc;
  top: 190px;
  left: 150px;
}

.qrcode::after {
  content: "";
  display: block;
  width: 328px;
  height: 328px;
  border-radius: 50%;
  position: absolute;
  background: #3886fc;
  top: -130px;
  left: -145px;
}

.card h2 {
  margin-bottom: 16px;
  text-align: center;
  padding-inline: 16px;
  color: #1f314f;
}

.card p {
  color: #68778d;
  text-align: center;
  padding: 0 16px 40px 16px;
}
